
body {
  font-family: monospace;
  max-width: 50em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  line-height: 160%;
}

.sample {
  border: 10px solid black;
  padding-left: 10em;
  padding-top: 10em;
  margin-left: 10em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1.0rem;
}

ul {
  font-size: 1.0rem;
}

li {
  font-size: 1.0rem;
}